@media (min-width: 768px) {
    #homepage-section {
        display: flex;
    }

    #habits-section {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr repeat(auto);
        grid-template-areas: 
        "create create"
        "habit habit"
        
       
    } 

    #habit-cards {
        max-height: 430px;
        grid-area: habit;
    }

    #create-habit {
        max-height: 430px;
        grid-area: create;
    }


}    

@media (max-width: 767px) {
    .btn-group {
        display: flex;
        flex-direction: column;
    }
}



#create-habit {
    background-color:#a4c48f;
    /* max-height: 450px; */
    justify-items: center;
}
.habit {
    background-color:#a4c48f; 
    
} 
